/* css for ASDA price check */


html, body {padding:0; margin:0}

body {color:#397807; background:#fff;font-family: Tahoma,Arial,Helvetical,sans-serif;}
.wrap {width:950px; margin-left:auto; margin-right:auto;background:#397807; padding:10px;margin-top:10px;}
.wrap .header {
    background:#fff;
    padding :20px; 
    height:50px; 
    margin-bottom:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    }
.wrap .header img {margin-top:10px;}
.wrap .header h1 {display:inline; margin-left:30px;}
.wrap .header h1 span {font-weight:normal; font-size:90%;}
.wrap .content ul li {list-style-type:none; margin-left:-15px;/* margin-top:5px;*/}
.wrap .content ul {margin-left:-20px;}
.wrap .content h3 {margin-top:0px;}
.wrap .content {
    background:#fff;
    padding:10px 10px 10px 10px ; 
    margin-bottom:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    }
  
.wrap .content .col-hero {
    background:#C2D6B3;
    -moz-border-radius:10px;
    border-radius:10px;
    height:40px;
    padding:10px 10px 10px 10px ;
    margin-bottom:10px;
}
.wrap .content .col-hero h2 {
    margin-top:0px;
    display:inline-block;
}

.wrap .content .col-hero h2 a {
    /*
    text-decoration:none;
    color:#397807;
    font-size:70%; 
    border:1px solid #397807;
    -moz-border-radius:15px;
    border-radius:15px;
    padding:4px 12px 4px 12px;
    background:#fff;
    margin-top:4px;
    -moz-box-shadow:inset 0 0 10px #397807;
    -webkit-box-shadow:inset 0 0 10px #397807;
    box-shadow:inset 0 0 10px #397807;
    */
    text-decoration:none;
    font-size:70%; 
    font-weight:normal;
    
    border: 1px solid #397807;
    background-color: #397807;
    border-radius: 15px;
    box-shadow: inset 1px 6px 12px #C2D6B3, inset -1px -10px 5px #397807, 1px 2px 1px black;
    -o-box-shadow: inset 1px 6px 12px #C2D6B3, inset -1px -10px 5px #397807, 1px 2px 1px black;
    -webkit-box-shadow: inset 1px 6px 12px #C2D6B3, inset -1px -10px 5px #397807, 1px 2px 1px black;
    -moz-box-shadow: inset 1px 6px 12px #C2D6B3, inset -1px -10px 5px #397807, 1px 2px 1px black;
    color: white;
    /*text-shadow: 1px 1px 1px black;*/
    padding: 4px 12px;
}

.wrap .content .col-hero h2 a:hover { 
    background:#397807; 
    color:#fff;
      
    -moz-box-shadow:inset 0 0 10px #fff;
    -webkit-box-shadow:inset 0 0 10px #fff;
    box-shadow:inset 0 0 10px #fff;
    }

.wrap .content h3.details a {
    text-decoration:none;
    color:#397807;
    font-size:50%; 
    border:1px solid #397807;
    -moz-border-radius:15px;
    border-radius:15px;
    padding:4px 12px 4px 12px;
    background:#fff;
    margin-top:10px;
    float:right;
    margin-right:0px;
}

.wrap .content h3.details a:hover { 
    background:#397807; 
    color:#fff; 
    }

    
.wrap .content h2.hdr {margin-left:10px;} 
  
    
.asda {
    background:#C2D6B3;
    padding:10px; 
    border:1px solid #397807;
    -moz-border-radius:10px;
    border-radius:10px;
    width:202px;
    float:left;
    margin-right:10px;
    }
.asda .prod-hdr {display:block;height:85px;font-weight:bold;}
.asda .price,     
.asda h3 {color:#397807;} 
     
 .argos {
     float:left;
     width:202px; 
     margin-right:12px; 
     border:1px solid #397807;
     -moz-border-radius:8px;
     border-radius:8px;
     padding:10px; 
     color:#666;
     }
 .argos .prod-hdr {display:block;height:85px;font-weight:bold;}
 .argos .price,     
 .argos h3 {color:#E42528;}    
  
 .tesco {    
     float:left;
     width:202px; 
     margin-right:12px; 
     border:1px solid #397807;
     -moz-border-radius:8px;
     border-radius:8px;
     padding:10px;
     color:#666; 
     }
 .tesco .prod-hdr {display:block;height:85px;font-weight:bold;}
 .tesco .price,
 .tesco h3 {color:#00539F;}      
 .sainsbury {
     float:left;
     width:202px; 
     border:1px solid #397807;
     -moz-border-radius:8px;
     border-radius:8px;
     padding:10px;
     color:#666; 
     }
 .sainsbury .prod-hdr {display:block;height:85px; font-weight:bold;}
 .sainsbury .price,      
 .sainsbury h3 {color:#F26334;}     
    
    
 .wrap .footer {
     background:#C2D6B3;
     padding:10px; 
     height:50px;
     -moz-border-radius: 8px;
     border-radius: 8px;  
     }
 #del,
 #tv {display:none;}   
    
.wrap .del {font-size:80%;}
.wrap .del .asda .prod-hdr {display:block;height:25px;font-weight:bold;}
.wrap .del .argos .prod-hdr {display:block;height:25px;font-weight:bold;color:#E42528;}
.wrap .del .tesco .prod-hdr {display:block;height:25px;font-weight:bold;color:#00539F;}
.wrap .del .sainsbury .prod-hdr {display:block;height:25px;font-weight:bold;color:#F26334;}
.wrap .del ul li {margin-bottom:10px;}
.wrap .del span.note {display:block;margin-top:10px; font-size:80%; margin-left:-15px;}
.wrap .del .asda,
.wrap .del .argos,
.wrap .del .tesco,
.wrap .del .sainsbury {height:540px;}

.img-box {
    background:#fff;
    padding:4px;
    border:1px solid #C2D6B3;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align:center;
    display:block;
}

#scale {  
    -webkit-transition: all 500ms ease 0s; 
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}
#scale:hover {    
    -webkit-transform: scale(1.25, 1.25); 
    -moz-transform: scale(1.25, 1.25); 
    -o-transform: scale(1.25, 1.25);  
    transform: scale(1.25, 1.25);

    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 5px 5px 5px #666;
    box-shadow: 5px 5px 5px #666; 
}

.line {border-top:1px solid #ccc; height:12px; margin-top:-15px;}
.asda .line {border-top:1px solid #fff; height:12px; margin-top:-15px;}


/* clear floats */
.cf:after                            {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.cf                                  {height:1%;}
.clear                               {clear:both;}
   