/* css for ASDA price check */


html, body {padding:0; margin:0}

body {color:#397807; background:#fff;font-family: Tahoma,Arial,Helvetical,sans-serif;}
.wrap {width:950px; margin-left:auto; margin-right:auto;background:#397807; padding:10px;margin-top:10px;}
.wrap .header {
    background:#fff;
    padding :20px; 
    height:50px; 
    margin-bottom:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    }
.wrap .header img {margin-top:10px;}
.wrap .header h1 {display:inline; margin-left:30px;}
.wrap .header h1 span {font-weight:normal; font-size:90%;}
.wrap .content .hero h2 {margin-top:0px;}
.wrap .content .hero ul {float:left; width:180px; margin-left:-20px; margin-top:0px;}
.wrap .content ul li {list-style-type:none; margin-left:-15px;}
.wrap .content .hero ul li strong {display:block; height:75px;}
.wrap .content .hero ul li .price {color:#B4191D; font-weight:bold;}
.wrap .content h3 {margin-top:0px;}
.wrap .content {
    background:#fff;
    padding:10px 10px 30px 10px ; 
    margin-bottom:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow:hidden;
    }
    
.wrap .content .hero {
    background:#C2D6B3;
    padding:10px; 
    margin-bottom:30px;
    -moz-border-radius:10px;
    border-radius:10px;
    overflow:hidden;
    
    }
.wrap .content .hero .product {
    background:#fff;
    padding:10px; 
    -moz-border-radius: 6px;
    border-radius: 6px;
    width:200px;   
    float:left; 
    margin-right:10px;  
}
.wrap .content .hero .last {margin-right:0;}
.wrap .content .hero .product img {margin-left:50px;}
    
.wrap .footer {
    background:#C2D6B3;
    padding:10px; 
    height:50px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    }
    
 .argos {
     float:left;
     width:280px; 
     margin-right:12px; 
     /*border:1px solid #397807;*/
     -moz-border-radius:8px;
     border-radius:8px;
     padding:10px; 
     color:#666;
     }
 .argos .prod-hdr {display:block;}
 .argos .price,     
 .argos h3 {color:#E42528;}    
  
 .tesco {    
     float:left;
     width:280px; 
     margin-right:12px; 
     /*border:1px solid #397807;*/
     -moz-border-radius:8px;
     border-radius:8px;
     padding:10px;
     color:#666; 
     }
 .tesco .price,
 .tesco h3 {color:#00539F;}      
 .sainsbury {
     float:left;
     width:280px; 
     /*border:1px solid #397807;*/
     -moz-border-radius:8px;
     border-radius:8px;
     padding:10px;
     color:#666; 
     }
 .sainsbury .price,      
 .sainsbury h3 {color:#F26334;}     
    
    
.hide,   
.col-hero {display:none;}
    
    